---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import Github from '../icons/Github.astro';
import Linkedin from '../icons/Linkedin.astro';
---

<Layout title="Welcome to Astro.">
	<main class="text-white">
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<img class="rounded-full w-14 h-14 mb-4" src="/me2.jpg" alt="photo Alessandro">
			<h1 class="text-white text-5xl font-bold flex  flex-row gap-x-4 pb-10 ">¡Hola! Soy Alessandro Daniele <a href="https://www.linkedin.com/in/alessandro-umberto-daniele-saltarin-aa9b82252/" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge> </a></h1>
			<h2 class="text-xl opacity-80">Soy desarrollador web, apasionado por buscar las soluciones más optimas. Amo los algoritmos </h2>

			<ul class="flex flex-row gap-x-10">
				<li> <Github/> GitHub</li>
				<li> <Linkedin/> Linkedin</li>
				<!--<li> <Gitlab/> GitLab</li>  -->
			</ul>
		</section>
	</main>
</Layout>